In [1]:
import pandas as pd
import numpy as np
import nltk

In [2]:
gdf = pd.read_csv(r"C:\Users\viole\Desktop\Datasets\gform_scraped_data.csv")

In [3]:
gdf.head()

,Name,Age,Idol Preference,Reason,Next year preference
0,Mahika D,18 - 30,Clay (Biodegradable),Better for the environment and looks natural t...,Same material
1,Vaibhavi,18 - 30,Clay (Biodegradable),it's an eco friendly material and it's good to...,yes same material
2,Atharva,18 - 30,Clay (Biodegradable),We sculpt the idol ourselves,Same
3,Varnika,18 - 30,Clay (Biodegradable),No chemicals involved and eco friendly,Same material
4,Srujana A Rao,18 - 30,Colored (Non Biodegradable),Festivals symbolize happiness and to me the pl...,Same forever and always

In [4]:
gdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 454 entries, 0 to 453
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Name                  454 non-null    object
 1   Age                   454 non-null    object
 2   Idol Preference       454 non-null    object
 3   Reason                454 non-null    object
 4   Next year preference  454 non-null    object
dtypes: object(5)
memory usage: 17.9+ KB

In [5]:
gdf['Reason'] = gdf['Reason'].astype(str)

In [6]:
def setlabel(reason):
    reason.lower()
    if any(keyword in reason for keyword in ["eco friendly", "natural", "environment", "eco-friendly", "biodegradable", "sustainable", "organic", "clay"]):
        return "positive"
    elif any(keyword in reason for keyword in ["colorful", "color", "big idols", "artistic", "colors", "better", "shine"]):
        return "negative"
    else:
        return "neutral"
    
gdf["Label"] = gdf["Reason"].apply(setlabel)

In [7]:
gdf.head()

,Name,Age,Idol Preference,Reason,Next year preference,Label
0,Mahika D,18 - 30,Clay (Biodegradable),Better for the environment and looks natural t...,Same material,positive
1,Vaibhavi,18 - 30,Clay (Biodegradable),it's an eco friendly material and it's good to...,yes same material,positive
2,Atharva,18 - 30,Clay (Biodegradable),We sculpt the idol ourselves,Same,neutral
3,Varnika,18 - 30,Clay (Biodegradable),No chemicals involved and eco friendly,Same material,positive
4,Srujana A Rao,18 - 30,Colored (Non Biodegradable),Festivals symbolize happiness and to me the pl...,Same forever and always,positive

In [8]:
gdf = gdf.drop("Next year preference", axis=1)

In [9]:
gdf

,Name,Age,Idol Preference,Reason,Label
0,Mahika D,18 - 30,Clay (Biodegradable),Better for the environment and looks natural t...,positive
1,Vaibhavi,18 - 30,Clay (Biodegradable),it's an eco friendly material and it's good to...,positive
2,Atharva,18 - 30,Clay (Biodegradable),We sculpt the idol ourselves,neutral
3,Varnika,18 - 30,Clay (Biodegradable),No chemicals involved and eco friendly,positive
4,Srujana A Rao,18 - 30,Colored (Non Biodegradable),Festivals symbolize happiness and to me the pl...,positive
...,...,...,...,...,...
449,Meena,30-50,Colored (Non Biodegradable),It looks better,negative
450,Jignesh,50-70,Colored (Non Biodegradable),It completes the look,neutral
451,Gopal,30-50,Colored (Non Biodegradable),It is a festival cheer,neutral
452,Veena,30-50,Colored (Non Biodegradable),It is a festival cheer,neutral
453,Shailaja,30-50,Colored (Non Biodegradable),We can take good photos,neutral

In [11]:
gdf.to_csv("C:/Users/viole/Desktop/Datasets/gform_scraped_data.csv", index=False)

In [12]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [13]:
def preprocess_text(text):
    
    tokens = word_tokenize(text.lower())
    filtered_tokens = [token for token in tokens if token not in stopwords.words('english')]
    lemmatizer = WordNetLemmatizer()
    lemmatized_tokens = [lemmatizer.lemmatize(token) for token in filtered_tokens]
    processed_text = ' '.join(lemmatized_tokens)

    return processed_text

# apply the function df

gdf['Reason'] = gdf['Reason'].apply(preprocess_text)
gdf

,Name,Age,Idol Preference,Reason,Label
0,Mahika D,18 - 30,Clay (Biodegradable),better environment look natural .,positive
1,Vaibhavi,18 - 30,Clay (Biodegradable),'s eco friendly material 's good environmental...,positive
2,Atharva,18 - 30,Clay (Biodegradable),sculpt idol,neutral
3,Varnika,18 - 30,Clay (Biodegradable),chemical involved eco friendly,positive
4,Srujana A Rao,18 - 30,Colored (Non Biodegradable),festival symbolize happiness plain clay ganesh...,positive
...,...,...,...,...,...
449,Meena,30-50,Colored (Non Biodegradable),look better,negative
450,Jignesh,50-70,Colored (Non Biodegradable),completes look,neutral
451,Gopal,30-50,Colored (Non Biodegradable),festival cheer,neutral
452,Veena,30-50,Colored (Non Biodegradable),festival cheer,neutral
453,Shailaja,30-50,Colored (Non Biodegradable),take good photo,neutral

In [14]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\viole\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [15]:
analyzer = SentimentIntensityAnalyzer()
def get_sentiment(text):
    
    scores = analyzer.polarity_scores(text)
    sentiment = 1 if scores['pos'] > 0 else 0

    return sentiment

gdf['sentiment'] = gdf['Reason'].apply(get_sentiment)

gdf

,Name,Age,Idol Preference,Reason,Label,sentiment
0,Mahika D,18 - 30,Clay (Biodegradable),better environment look natural .,positive,1
1,Vaibhavi,18 - 30,Clay (Biodegradable),'s eco friendly material 's good environmental...,positive,1
2,Atharva,18 - 30,Clay (Biodegradable),sculpt idol,neutral,0
3,Varnika,18 - 30,Clay (Biodegradable),chemical involved eco friendly,positive,1
4,Srujana A Rao,18 - 30,Colored (Non Biodegradable),festival symbolize happiness plain clay ganesh...,positive,1
...,...,...,...,...,...,...
449,Meena,30-50,Colored (Non Biodegradable),look better,negative,1
450,Jignesh,50-70,Colored (Non Biodegradable),completes look,neutral,0
451,Gopal,30-50,Colored (Non Biodegradable),festival cheer,neutral,1
452,Veena,30-50,Colored (Non Biodegradable),festival cheer,neutral,1
453,Shailaja,30-50,Colored (Non Biodegradable),take good photo,neutral,1

In [16]:
gdf["sentiment"].value_counts()

sentiment
1    327
0    127
Name: count, dtype: int64

In [17]:
def sentiment_to_int(sentiment):
    mapping = {'positive': 1, 'neutral': 0, 'negative': -1}
    return mapping.get(sentiment, 0)

gdf['Label'] = gdf['Label'].apply(sentiment_to_int)

In [18]:
from sklearn.metrics import confusion_matrix

print(confusion_matrix(gdf['Label'], gdf['sentiment']))

[[  0  25  36]
 [  0  82 137]
 [  0  20 154]]

In [19]:
gdf
#will go ahead with label, and not the built in function. we need labels that can mark environment friendly ganesha as positive, regardless of clay or color.In such cases a built in function will not work.

,Name,Age,Idol Preference,Reason,Label,sentiment
0,Mahika D,18 - 30,Clay (Biodegradable),better environment look natural .,1,1
1,Vaibhavi,18 - 30,Clay (Biodegradable),'s eco friendly material 's good environmental...,1,1
2,Atharva,18 - 30,Clay (Biodegradable),sculpt idol,0,0
3,Varnika,18 - 30,Clay (Biodegradable),chemical involved eco friendly,1,1
4,Srujana A Rao,18 - 30,Colored (Non Biodegradable),festival symbolize happiness plain clay ganesh...,1,1
...,...,...,...,...,...,...
449,Meena,30-50,Colored (Non Biodegradable),look better,-1,1
450,Jignesh,50-70,Colored (Non Biodegradable),completes look,0,0
451,Gopal,30-50,Colored (Non Biodegradable),festival cheer,0,1
452,Veena,30-50,Colored (Non Biodegradable),festival cheer,0,1
453,Shailaja,30-50,Colored (Non Biodegradable),take good photo,0,1

In [20]:
sdf = pd.read_csv(r"C:\Users\viole\Desktop\Datasets\final_scraped_data.csv")
sdf.head()

,User_ID,Data source,Ganesha idol type,Comment,Label
0,3zormd3w,Reddit,Clay Ganesha,He should hold that glass higher,Neutral
1,qj7yprba,Reddit,Clay Ganesha,"I...\n\nNice work OP, but it looks a bit sus.",Neutral
2,uh7624vm,Reddit,Clay Ganesha,It's so nice...,Neutral
3,dzotncpa,Reddit,Clay Ganesha,... Ummm....... N... Nice work OP,Neutral
4,Anonymous,Reddit,Clay Ganesha,"Not to offend anyone, but I'm curious about wh...",Neutral

In [21]:
sdf['Comment'] = sdf['Comment'].apply(preprocess_text)

In [22]:
sdf.head()

,User_ID,Data source,Ganesha idol type,Comment,Label
0,3zormd3w,Reddit,Clay Ganesha,hold glass higher,Neutral
1,qj7yprba,Reddit,Clay Ganesha,"... nice work op , look bit sus .",Neutral
2,uh7624vm,Reddit,Clay Ganesha,'s nice ...,Neutral
3,dzotncpa,Reddit,Clay Ganesha,... ummm ....... n ... nice work op,Neutral
4,Anonymous,Reddit,Clay Ganesha,"offend anyone , 'm curious 's liquid ? ­",Neutral

In [23]:
sdf['Label'] = sdf['Label'].apply(sentiment_to_int)

In [24]:
sdf

,User_ID,Data source,Ganesha idol type,Comment,Label
0,3zormd3w,Reddit,Clay Ganesha,hold glass higher,0
1,qj7yprba,Reddit,Clay Ganesha,"... nice work op , look bit sus .",0
2,uh7624vm,Reddit,Clay Ganesha,'s nice ...,0
3,dzotncpa,Reddit,Clay Ganesha,... ummm ....... n ... nice work op,0
4,Anonymous,Reddit,Clay Ganesha,"offend anyone , 'm curious 's liquid ? ­",0
...,...,...,...,...,...
3705,User_3839,Blog,Plaster of Paris Ganesha,"idol ganesh generally made clay , plaster pari...",0
3706,User_4461,Etsy,Plaster of Paris Ganesha,"sale plaster paris idol restricted , immersion...",0
3707,User_7827,Blog,Plaster of Paris Ganesha,plaster paris enter body pore cause harm .,0
3708,User_3413,Etsy,Plaster of Paris Ganesha,immersion thousand plaster paris idol ganeshot...,0
3709,User_4002,Etsy,Plaster of Paris Ganesha,create pond kid immerse pop ganesh idol . reco...,0

In [26]:
sdf['sentiment'] = sdf['Comment'].apply(get_sentiment)

In [27]:
sdf.head()

,User_ID,Data source,Ganesha idol type,Comment,Label,sentiment
0,3zormd3w,Reddit,Clay Ganesha,hold glass higher,0,0
1,qj7yprba,Reddit,Clay Ganesha,"... nice work op , look bit sus .",0,1
2,uh7624vm,Reddit,Clay Ganesha,'s nice ...,0,1
3,dzotncpa,Reddit,Clay Ganesha,... ummm ....... n ... nice work op,0,1
4,Anonymous,Reddit,Clay Ganesha,"offend anyone , 'm curious 's liquid ? ­",0,1

In [28]:
sdf.to_csv("C:/Users/viole/Desktop/Datasets/final_scraped_data.csv", index=False)